@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100vw;
    height: 100vh;
    background-color: #899A79;
    color: #297486;
    font-family: 'Ubuntu', sans-serif;

}

.root {
    width: 100%;
}

.main {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    background-color: #F0F0F2;
    padding: 2px 50px;
    margin: auto;
    border: 2px solid black;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card {
    margin: 2px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px 35px;
    background-color: #899A79;
    min-width: 10rem;
    text-align: center;
}

.ex_data_show {
    background-color: #fff;
    max-width: 80%;
    margin: 3rem auto;
    padding: 2rem;
    border-radius: 2rem;
    position: relative;
}

.day {
    font-size: 2rem;
    font-weight: 700;
    color: black;
}

.btn {
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: #899A79;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: -2rem;
    right: 200px;
    position: absolute;
    z-index: 1;

}

.btn:hover {
    cursor: pointer;
}

.Delbtn {
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: #899A79;
    color: black;
    font-size: 1rem;
    font-weight: 700;

    /* position: absolute; */
    z-index: 1;

}

.Delbtn:hover {
    cursor: pointer;
}


.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

label {
    /* width: 100%; */
    margin: 0px 15px;
}

.selection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem 4rem 2rem;
}